
*{
    box-sizing: border-box;
}
/*--测站天气实况弹出框  */

#monthDataCurveCon{
    width: 700px;
    position: absolute;
    left:820px;
    top:150px;
    z-index: 3;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px #868686;
    -moz-box-shadow:0 0 4px #868686;
    -o-box-shadow: 0 0 4px #868686;
    -ms-box-shadow: 0 0 4px #868686;
    box-shadow: 0 0 4px #868686;
    display: none;
}
#monthDataCurveCon .con{
    position: relative;
}

#monthDataCurveCon .popopDel{
    position: absolute;
    right: 0;
    top:0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
#monthDataCurveCon .popopDel:hover{
    color:red;
    text-decoration: none;
}
#monthDataCurveCon .top{
    height: 32px;
    line-height: 27px;
    background:#0065a5;
}
#monthDataCurveCon .top .title{
    display:inline-block;
    font-size:17px;
    margin: 1px 0 0 10px;
    color:#ffffff;
    vertical-align: middle;
}
#monthDataCurveCon .rightTab{
    overflow:hidden;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 2;
}
#monthDataCurveCon .rightTab span{
    display:inline-block;
    font-size:16px;
    color:#333333;
    margin: 0 10px;
    cursor:pointer;
}
#monthDataCurveCon .rightTab span.orange{
    color:#f78414;
    border-bottom: 2px solid #f78414;
}
#monthDataCurveCon .rightTab i{
    display: inline-block;
    width: 2px;
    height: 14px;
    border: 1px solid #666666;
    vertical-align: middle;
}


/*#monthDataCurveCon .con{
    margin-top: 10px;
    padding:5px 5px 10px 5px;
}*/
#monthDataCurveCon .conTop{
    padding:5px;
    position: relative;
}
#monthDataCurveCon .conTuLi{
    overflow:hidden;
    float: right;
}
#monthDataCurveCon .conTuLi .conTuLiSpan{
    display:inline-block;
}
#monthDataCurveCon .conTuLi .conTuLiImg{
    display:inline-block;
}
#monthDataCurveCon .top .text{
    margin: 5px 0 0 10px;
    display: inline-block;
    font-size: 14px;
    color:#ffffff;
}